.galleryItem {
  height: 200px;
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.galleryItemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galleryItem:hover .galleryItemImage {
  transform: scale(1.05);
  cursor: zoom-in;
}

@media screen and (min-width: 375px) {
  .galleryItem {
    height: 275px;
  }
}

@media screen and (min-width: 768px) {
  .galleryItem {
    height: 250px;
  }
}

@media screen and (min-width: 1440px) {
  .galleryItem {
    height: 190px;
  }
}